.card {
    padding: 1rem 1rem;
    border: 1px dashed #b11111;
    margin-bottom: 1rem;
}
h2 {
    margin-bottom: 1rem;
}
.buttons {
    margin-bottom: 2rem;
}
.text {
    font-size: 1.5rem;

    &.red {
        color:rgb(255, 0, 8);
    }
    &.blue {
        color:rgb(55, 0, 255);
    }
    &.green {
        color:rgb(0, 255, 149);
    }
}